section.colorprime#colorPrime

	.colorprime-wrap

		h2.title(role="heading") Технология Color Prime

		p.text
			| Технология Color Prime использует последние инновации в подсветке,
			| чтобы расширить палитру цветов более, чем на 20%. Сочные и чистые
			| цвета оживляют изображение, делая его более четким и реалистичным,
			| чем на обычных LED LCD-телевизорах. Теперь все краски мира станут
			| реальностью на вашем экране!

	.colorprime__btn

		.colorprime__logo

		.colorprime__chek.mobile-hide(
			data-700-top="background-color: rgb(233, 233, 233)"
			data-600-top="background-color: rgb(214, 16, 73)")

			.colorprime__chek-point(
				data-700-top="left: -2px"
				data-600-top="left: 15px")

	.colorprime__img1.mobile-hide(
		data-600-top="opacity: 1"
		data-300-top="opacity: 0")

	.colorprime__img2

	.colorprime__line.mobile-hide(
		data-585-top="top: 65px"
		data-300-top="top: 420px")
