section.ultra-hd

	.ultra-hd-wrap

		h2.title(role="heading")
			| ULTRA HD
			br
			| 8.3 млн пикселей

		p.text
			| Новый стандарт изображений поднимает планку качества как никогда
			| высоко: 4K  ULTRA HD в четыре раза превосходит по качеству Full HD.
			| 8,3 миллиона пикселей обеспечивают превосходное изображение даже при
			| просмотре с близкого расстояния. Насладитесь невероятно живым и
			| потрясающе ярким изображением в телевизорах LG ULTRA HD.

	.ultra-hd__switch.mobile
		.ultra-hd__label hd

		.ultra-hd__switch-wrap
			.ultra-hd__line(
			data-834-top="left: -74px"
			data-634-top="left: 0px")

		.ultra-hd__point(
			data-842-top="left: 39px"
			data-642-top="left: 104px")

		.ultra-hd__label.ultra-hd__label_color_red ultra hd

	.ultra-hd__img.mobile(
		data-500-top="height: 0px; padding-bottom: 0px"
		data-300-top="height: 342px; padding-bottom: 25px")
