section.screen.clearfix
	.screen-wrap

		h2.title(role="heading") Изогнутый экран

		p.text
			| Изогнутый экран - это не только причудливый элемент дизайна. Изображение
			| на изогнутом телевизоре обволакивает зрителя и обеспечивает оптимальное
			| удаление как в центре, так и по краям экрана, что снижает визуальные
			| искажения. Это позволяет достичь полного эффекта погружения, словно
			| изображение стало реальностью.

	.screen__img

	.screen__img-anim1(
		data-400-top="opacity: 0"
		data-300-top="opacity: 1")

	.screen__img-anim2(
		data-300-top="opacity: 0"
		data-200-top="opacity: 1")

	.screen__img-anim3(
		data-600-top="opacity: 0"
		data-400-top="opacity: 1")
