section.wrgb

	.wrgb-wrap

		h2.title(role="heading") Безупречные цвета

		p.text
			| OLED-телевизор демонстрирует весьма чистые и глубокие оттенки цветов,
			| превосходящие зауженный спектр типичного телевизора LED LCD. Новые
			| краски придают больше эмоций, любое изображение по-настоящему оживает
			| на OLED-телевизоре.

	.wrgb__char.wrgb__char_prop_w(
		data-400-top="opacity: 1"
		data-600-top="opacity: 0")

	.wrgb__char.wrgb__char_prop_r(
		data-300-top="opacity: 1"
		data-500-top="opacity: 0")

	.wrgb__char.wrgb__char_prop_g(
		data-200-top="opacity: 1"
		data-400-top="opacity: 0")

	.wrgb__char.wrgb__char_prop_b(
		data-100-top="opacity: 1"
		data-300-top="opacity: 0")
